.containerNavBarlogin {
  height: 70px;
  background-color: rgb(235, 235, 235);
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  font-family: "Domine", serif;
  color: black;
}
.containerLogoLogin {
  margin-left: 460px;
}

.containerLogoLogin img {
  height: 50px;
}
.containerVolver {
  width: 100px;
  font-size: larger;
  margin-left: 30px;
  font-weight: 600;
}
@media only screen and (min-width: 320px) and (max-width: 440px) {
  .containerLogoLogin {
    margin-left: 0;
  }
  .containerVolver {
    font-size: 12px;
    margin-left: 5px;
    font-weight: 600;
    color: black;
    display: flex;
  }
  .containerVolver svg {
    height: 12px;
    margin-top: 2px;
  }
  .containerVolver a {
    width: 100px;

    display: flex;
  }
}
