.containerallPaymentss {
  background-color: rgba(187, 185, 185, 0.486);
  width: 100%;
  height: 100vh;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
